@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css)
*,*:before,*:after {
  box-sizing:border-box;
}
body {
    font-family: 'Noto Sans Japanese', serif;
    margin:40px;
    font-family: 
}
h1 {
    font-family: 'Rounded Mplus 1c';
    font-weight:400;
}
#container {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px 100px;
    grid-auto-rows: 30px 50px;
}

.itemA {
    background: #ff2424;
}
.itemB {
    background: #ffe924;
}
.itemC {
    background: #24ff6d;
}
.itemD {
    background: #24d3ff;
}
.itemE {
    background: #7824ff;
}
.itemF {
    background: #f824ff;
}

.itemH {
    grid-row: 4; grid-column: 2;
}


